<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="text-center">
        <hr>
        <font color="FF4500" size="3" style=""><b>*请使用微信扫码，并在支付时备注您的QQ号</b></font><br>
        <hr>
        <br>
    </div>
    <div class="center-block">
        <img class="img-responsive center-block" style="width:500px;" src="/static/images/donate_wechat_qrcode.jpeg"/>
    </div>
    <footer class="navbar-fixed-bottom">
    <div class="text-center ">
        <font color="#aaaaba">
            <hr>
            由于CSDN资源下载机制很难做到免费下载，<br>
            但作者并不希望大黄鸭作为一个收费CSDN下载工具。<br>
            特此通过捐助方式来支持大黄鸭，希望能够得到您的帮助。 <br>
            <font color="#808066">
                大黄鸭感谢您一直以来的陪伴~
            </font>
        </font>
    </div>
    </footer>
</div>
</body>
</html>