<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/images/psyduck.ico"/>
    <link rel="bookmark" href="/static/images/psyduck.ico"/>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.js"></script>
    <script>
        var state = '';
        var murmur = '';
        var result_count = 0;
        var result_json = '';
        var _last_result_count = -1;

        function catch_murmur()
        {
            setTimeout(function ()
            {
                Fingerprint2.get(function (components)
                {
                    var values = components.map(function (component) { return component.value })
                    murmur = Fingerprint2.x64hash128(values.join(''), 31)
                })
            }, 500)
        }

        function clearCookies()
        {
            var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
            if(keys)
            {
                for(var i = keys.length; i--;)
                    document.cookie = keys[i] + '=0;expires=' + new Date(0).toUTCString()
            }
        }

        var _dot_index = 0;
        function refresh_html()
        {
            if(state == '')
            {
                if(result_count == 0)
                {
                    $("#result_title").html("");
                    $("#result_count").html("");
                }
                else
                {
                    $("#result_title").html("搜索完成");
                    $("#result_count").html("共 "+result_count+" 个免费资源");
                }
            }
            else if(state == 'init')
            {
                $("#result_title").html("初始化...");
                $("#result_count").html("");
            }
            else if(state == 'search')
            {
                var _dots = ['.','..','...'];
                $("#result_title").html('搜索中' + _dots[_dot_index]);
                _dot_index = ++_dot_index % _dots.length;
                $("#result_count").html("共 "+result_count+" 个免费资源");
            }

            if(_last_result_count != result_count && result_json != '')
            {
                var _html = "";
                var _result = JSON.parse(result_json);
                for(var _url in _result)
                {
                    var dl = '<dl class="form-inline form-group">';

                    dl += '<dt><a href="'+_url+'" target="_blank" style="font-size:18px"><b>'+_result[_url]["title"]+'</b></a></dt>';

                    var _desc = _result[_url]["description"];
                    if(_desc.length > 100)
                        _desc = _desc.substring(0,100) + '...';

                    dl += '<dd>\
                    <p class="text-muted">* '+_desc+'</p>\
                    <p class="text-muted">时间：'+_result[_url]["upload_date"].substring(0,10)+'</p>\
                    </dd>';

                    dl += '</dl>';
                    dl += '<hr>';
                    _html += dl;
                }

                $("#p").html(_html);

                _last_result_count = result_count;
            }
        }

        function search_begin()
        {
            var keyword = $("#keyword").val();
            var sort_type = $("#sort_type").val();
            var source_type = $("#source_type").val();
            if(keyword == '' || sort_type == '' || source_type == '')
                return;

            var split = '_%split%_'
            search_act('begin', keyword + split + sort_type + split + source_type);
        }

        function search_clear()
        {
            search_act('clear');
        }

        function onKeyDown(event)
        {
             var e = event || window.event || arguments.callee.caller.arguments[0];
             if(e && e.keyCode==13)// enter 键
             {
                search_begin();
             }
        }

        function search_loop()
        {
            if(murmur == '')
                return;

            if(_last_result_count != result_count)
            {
                search_act('result');
                return;
            }
            search_act();
        }

        function search_act(act='', args='')
        {
            $.ajax({
                type: 'get',
                url: 'search_progress?murmur=' + murmur + (act==''?'':'&act='+act) + (args==''?'':'&args='+args),
                dataType: 'json',
                success: function(res) {
                    state = res.state;
                    result_count = res.result_count;
                    if(res.result_json != '')
                        result_json = res.result_json;
                    refresh_html();
                },
                error: function() {
                    console.log('请求失败~');
                }
            });
        }

        setTimeout("clearCookies()", 50);
        setTimeout("catch_murmur()", 50);
        setInterval("search_loop()", 1000);

    </script>
</head>

<body>

<div class="container" style="width:88%;">
    <div class="text-center">
        <h2 class="text-muted"><b> CSDN 0积分资源搜索</b></h2>
        <p class="text-primary" id="cost"></p>
    </div>
    <div class="input-group form-group">
        <input type="text" id="keyword" tabindex="1" class="form-control" placeholder="请输入关键字搜索"
               onkeydown="onKeyDown(event)"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-search glyphicon glyphicon-search"
                        style="margin-top: -1px;" onclick="search_begin()">
                </button>
            </span>
    </div>
    <div class="form-group form-inline">
        <select data-placeholder="资源类型" name="carOwner" id="source_type"
                class="form-control chosen-select form-group" tabindex="2" required>
            <option value="10">全部类型</option>
            <option value="1">文档类</option>
            <option value="3">工具类</option>
            <option value="2">代码类</option>
            <option value="4">其他</option>
        </select>
        <select data-placeholder="排序类型" name="carOwner" id="sort_type"
                class="form-control chosen-select form-group" tabindex="3" required>
            <option value="0">最新上传</option>
            <option value="1">最多下载</option>
            <option value="2">默认排序</option>
        </select>
        <button type="button" class="btn btn-danger form-group" onclick="search_clear()"> 清空结果</button>
    </div>
    <hr>
    <div class="form-group form-inline">
        <label id="result_title" class="label label-warning form-group"></label>
        <label id="result_count" class="label label-primary form-group"></label>
    </div>
    <div id="p">
    </div>
    <div class="row" style="height:120px;"></div>
</div>
<footer class="text-center navbar-fixed-bottom" style="background:linear-gradient(#ffffff00,#ffffffff);">
    <p class="text-muted">
        免责声明：<br>
        有关资源均来自网络收集与网友提供，任何涉及商业盈利目的的均不得使用，否则产生的一切后果将由您自己承担！<br>
        如果本平台存在的内容对您和您的利益产生损害，请立即私信我们，将在最短时间内对其更正。
        请联系邮箱：799329256@qq.com <br>
    </p>
</footer>
</body>
</html>