<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.js"></script>
    <script>
        var state = '';
        var msg = '';
        var murmur = '';
        function catch_murmur()
        {
            setTimeout(function ()
            {
                Fingerprint2.get(function (components)
                {
                    var values = components.map(function (component) { return component.value })
                    murmur = Fingerprint2.x64hash128(values.join(''), 31)
                })
            }, 500)
        }

        function html_start()
        {
            $("#p").html('\
            <button type="button" class="btn btn-primary" onclick="export_act(\'start\')">开始</button>\
            ')
        }

        function html_export()
        {
            $("#p").html('\
            <p class="text-success">' + "登陆成功！" + '</p>\
            <button type="button" class="btn btn-primary" onclick="export_act(\'export\')">开始导出</button>\
            ')
        }

        function html_finish()
        {
            $("#p").html('\
            <p class="text-success">' + "导出完成！" + '</p>\
            <a href="/static/'+murmur+'.zip" class="btn btn-success" ">下载文件</a>\
            <button type="button" class="btn btn-danger" onclick="export_act(\'reset\')">退出系统</button>\
            ')
        }

        var _export_dot = 0;
        function html_exporting()
        {
            var dots = ['.', '..', '...'];
            var cur = parseInt(msg.split('_')[0]);
            var total = parseInt(msg.split('_')[1]);
            var name = msg.split('_')[2];
            var url = msg.split('_')[3];
            var percent = parseInt(1.0*cur/total*100)
            $("#p").html('\
            <p class="text-muted">' + "导出中("+cur+"/"+total+")" + dots[_export_dot++%3] + '</p>\
            <a ' + (url==""?"":("href="+url+" ")) + 'target="_blank">' + name + '</a>\
            <div class="progress progress-striped active form-inline">\
            <div class="progress-bar progress-bar-success" role="progressbar"\
            aria-valuenow="'+cur+'" aria-valuemin="0" aria-valuemax="'+total+'"\
            style="width: '+percent+'%;">\
            <span class="sr-only">'+percent+'% 完成</span>\
            </div>\
            </div>\
            ')
        }

        function html_login()
        {
            $("#p").html('\
            <p class="text-danger">暂时支持仅CSDN免密登录方式</p>\
            <p class="text-danger">出于安全隐私考虑，验证码请至\
            <a href="https://passport.csdn.net/login" target="_blank">CSDN登录页</a>\
            【免密登录】获取！</p>\
            <div class="form-group form-inline">\
            <input type="text" id="phone_num" class="form-control" placeholder="手机号">\
            </div>\
            <div class="form-group form-inline">\
            <input type="text" id="verify_code" class="form-control" placeholder="6位数字验证码">\
            <!-- <button type="button" class="btn btn-primary" onclick="get_verify_code()">获取验证码</button> -->\
            </div>\
            <button type="button" class="btn btn-primary" onclick="login()">登录</button>\
            <p class="text-danger">' + msg + '</p>\
            ')
        }

        function html(s)
        {
            $("#p").html(s);
        }

        function get_verify_code()
        {
            var phone_num = $("#phone_num").val();
            if(phone_num == '')
            {
                msg = "手机号不能为空！";
                html_login();
                return;
            }
            export_act('get_verify_code', phone_num);
        }

        function login()
        {
            var type = 'phone';
            var phone_num = $("#phone_num").val();
            var verify_code = $("#verify_code").val();
            if(phone_num == '')
            {
                msg = "手机号不能为空！";
                html_login();
                return;
            }
            if(verify_code.length != 6)
            {
                msg = "请输入6位验证码！";
                html_login();
                return;
            }
            export_act('login', type + '_' + phone_num + '_' + verify_code);
        }

        function export_loop()
        {
            if(murmur == '')
            {
                html('初始化...');
                catch_murmur();
                return;
            }

            export_act('');
        }

        var lastState = '__'
        function refresh_html()
        {
            if(lastState == state && state != 'export')
                return;
            lastState = state;

            if(state == '')
                html_start();
            else if(state == 'wait_for_login')
                html_login();
            else if(state == 'login')
                html('登录中...');
            else if(state == 'wait_for_export')
                html_export();
            else if(state == 'export')
                html_exporting();
            else if(state == 'finish')
                html_finish();
        }

        function export_act(act='', args='')
        {
            $.ajax({
                type: 'get',
                url: 'export_progress?murmur=' + murmur + (act==''?'':('&act='+act)) + (args==''?'':('&args='+args)),
                dataType: 'json',
                success: function(res) {
                    state = res.state;
                    msg = res.msg;
                    refresh_html();
                },
                error: function() {
                    console.log('请求失败~');
                }
            });
        }

        setTimeout("export_loop()", 50);
        setInterval("export_loop()", 1000);


    </script>

</head>

<body>

<div class="container">
    <div class="text-center">
        <hr>
        <font color="707777" size="3" style=""><b> CSDN资源导出 </b></font><br><br>
        <hr>
        <br>
    </div>
    <div id="p" class="row">
    </div>
    <footer class="navbar-fixed-bottom text-center">
        <hr>
        <font color="#909090">
            由于CSDN资源下载机制很难做到免费下载，<br>
            但作者并不希望大黄鸭作为一个收费CSDN下载工具。<br>
            特此通过捐助方式来支持大黄鸭，希望能够得到您的帮助。 <br>
        </font>
    </footer>
</div>
</body>
</html>